<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>blog-layout</title>
        <link href="css/master.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">

                <div class="column sidebar">

                    <header class="widget master-header">

                    <a class="thumbnail blog-photo" href="/">
                        <img src="images/samueldeng_hd.jpg" width="60px" height="60px"/>
                    </a>

                    <a class="blog-name">dhc.la.vie</a>

                    <a href="http://twitter.com/denghuancong" class="twitter">@denghuancong</a>
                    </header>

                    <div class="sidebar-inner">
                        <section class="widget about">
                            
                        </section>
                        <footer class="master-footer"></footer>
                    </div> <!--/. sidebar-inner -->

                </div> <!-- /. sidebar -->

                <div class="column main">

                    <article class="post">
                    </article>
                    <div class="pagination"></div>

                </div> <!-- /. main -->

        </div><!-- /.container-->

    </body>
</html>
