<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>blog-layout</title>
        <link href="blog.css" rel="stylesheet">
    </head>
    <body>

        <div class="blog_layout">

            <div class="blog_content">

                <div class="index_pic">

                </div> <!--index_pic-->

                <div class="post_list">

                </div><!--post_list-->

                <div class="post_index">

                </div> <!--post_index-->

            </div> <!--blog_content-->

            <div class="blog_sidebar"> 

            </div> <!--blog_sidebar-->

        </div> <!--blog_layout-->

        <div class="footer">

        </div> <!--footer-->

    </body>
</html>
